@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --slideX: 0;
    --slideY: 0;
  }

  ::selection {
    background-color: #a5a1ff;
    color: #fff;
  }

  * {
    cursor: none;
  }
}

@layer components {
  .rotating-letter {
    @apply absolute top-1/2 left-1/2 text-[18px] font-bold capitalize 2xl:text-[1.2vw];
  }

  .full {
    @apply w-full h-full;
  }

  .image-controls {
    @apply bg-center bg-cover bg-no-repeat;
  }
}

@layer utilities {
  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  button {
    cursor: none;
  }
}

body.no-scroll {
  overflow: hidden;
}

/* Loading animation controls */

#slide-2 {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  animation: slide-right 1.5s 0.6s cubic-bezier(0.74, 0.01, 0.19, 1) forwards;
}

#loading-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: slide-up 1.5s 2s cubic-bezier(0.74, 0.01, 0.19, 1) forwards;
}

/* cursor controls */

body:hover #cursor {
  transform: scale(1);
}

#cursor {
  transform: translate(-50%, -50%);
  transform: scale(0);
  z-index: 40;
  border: 0.5px solid #222;
  pointer-events: none;
}

#progress {
  --height: 0;
  height: calc(var(--height) * 1%);
}

header .marquee-container {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.25, 0.63, 0.61, 0.98);
}

.circle {
  animation: rotate 8s linear infinite;
}

.marquee1,
.marquee2,
.marquee3,
.marquee4,
.marquee5 {
  --width: 0;
  --marginRight: 0;
  --duration: 0;
  animation: marquee calc(var(--duration) * 1s) linear infinite;
}

.rectangle .marquee {
  opacity: 0;
  transition: opacity 200ms linear;
}

.project,
.shape-container {
  transition: transform 300ms cubic-bezier(0.25, 0.63, 0.61, 0.98);
}

.project .project-title {
  transition: transform 300ms cubic-bezier(0.25, 0.63, 0.61, 0.98);
}

.element {
  --backgroundColor: #fff;
  width: 8px;
  height: 8px;
  position: fixed;
  background-color: var(--backgroundColor);
  transition: top 1s, left 1s, opacity 1s, transform 1s;
  z-index: 40;
  border-radius: 50%;
  pointer-events: none;
}

* {
  cursor: none;
}

@media (min-width: 1024px) {
  #slide-2 {
    animation: none;
  }

  #loading-container {
    animation: none;
  }

  header:hover .marquee-container {
    opacity: 0;
  }
  .rectangle:hover .marquee {
    opacity: 1;
  }
  .project:hover,
  .shape-container:hover {
    transform: scale(0.97);
  }

  .project:hover .project-title {
    transform: scale(1.1);
  }
}

@media (min-width: 1536px) {
  .element {
    height: 0.5vw;
    width: 0.5vw;
  }
}

@keyframes slide-right {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes slide-up {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

@keyframes zoom {
  to {
    transform: scale(300);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes marquee {
  to {
    transform: translateX(calc((var(--width) + var(--marginRight)) * -1px));
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
